<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bradley Baylis | Front End Developer</title>
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="Webpack basic starter project">
    <meta name="Description" content="A simple webpack starter project for your basic web development needs."/>
    <!-- Open Graph data -->
    <meta property="og:title" content="Webpack basic starter project" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://lifenautjoe.github.io/webpack-starter-basic/" />
    <meta property="og:image" content="https://i.snag.gy/i3eMBc.jpg" />
    <meta property="og:description" content="A simple webpack starter project for your basic web development needs." />
    <!-- Mobile header color for Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#ff4970">
    <!-- Mobile header color Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#ff4970">
    <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg w-100 position-absolute">
  <a class="navbar-brand text-white" href="#">Bradley Baylis</a>
  <button class="navbar-toggler navbar__toggler" type="button" data-toggle="collapse" data-target="#navbarDropdowns" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse navbar-custom" id="navbarDropdowns">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container-fluid position-relative px-0 text-center" id = "main">
  <div class = "home-wrapper">
    <div class="d-flex flex-column justify-content-around col-lg-3 mx-auto text-center" id = "home">
        <div class = "mt-2 mt-sm-3 mt-lg-5 mb-2 px-0 mx-auto avatar">
            <div class = "position-relative mx-auto avatar__wrapper">
                <img
                    src="<%= require('./src/assets/images/brad-original.jpg') %>"
                    class="d-block position-relative h-100 mx-auto rounded-circle avatar__img"
                >
            </div>
        </div>
        <div class = "intro-headers">
            <h1 class = "display-3">Bradley Baylis</h1>
            <hr class = "intro-headers__linebreak">
            <h2 class = "display-4">Front End Developer</h2>
        </div>
    </div>
  </div>
    <div class="container-fluid py-3 text-left" id = "about">
      <h3 class = "text-center">About Me</h3>
        <p>The standard Lorem Ipsum passage, used since the 1500s
"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
<p>
Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC
"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
    </div>
    <div class = "py-3 bg-warning container-fluid" id = "portfolio">
      <h3>Portfolio</h3>
      <div class = "col-xs-12 col-11 mx-auto">
        <div class = "my-4 bg-white project-entry overflow-hidden position-relative">
          <img class = "img-fluid project-entry__img" src= "<%= require('./src/assets/images/tictactoe.png') %>">
          <div class = "project-entry__img-overlay d-flex flex-column justify-content-between position-absolute w-100 h-100">
            <h4 class = "text-white position-relative my-2 project-entry__title">Unbeatable Tic-tac-toe</h4>
            <div class = "project-entry__logo-div h-25 d-flex justify-content-center align-items-center">
              <img class="project-entry__logo h-100 mx-1" src="<%= require('./src/assets/javascript-logo.svg') %>">
              <img class="project-entry__logo h-100 mx-1" src="<%= require('./src/assets/react-logo.svg') %>">
              <img class="project-entry__logo h-100 mx-1" src="<%= require('./src/assets/redux-logo.svg') %>">
            </div>
            <p class = "text-white position-relative my-2 project-entry__bottom-text">Front End</p>
          </div>
        </div>
        <div class = "my-4 bg-white project-entry overflow-hidden position-relative">
          <img class = "img-fluid project-entry__img" src= "<%= require('./src/assets/images/facebrain.png') %>">
          <div class = "project-entry__img-overlay d-flex flex-column justify-content-between position-absolute w-100 h-100">
            <h4 class = "text-white position-relative my-2 project-entry__title">FaceBrain</h4>
            <div class = "project-entry__logo-div h-25 d-flex justify-content-center align-items-center">
              <img class="project-entry__logo h-100 mx-1" src="<%= require('./src/assets/react-logo.svg') %>">
              <img class="project-entry__logo h-100 mx-1" src="<%= require('./src/assets/node-logo.svg') %>">
              <img class="project-entry__logo h-100 mx-1" src="<%= require('./src/assets/postgres-logo.svg') %>">
            </div>
            <p class = "text-white position-relative my-2 project-entry__bottom-text">Full Stack</p>
          </div>
        </div>
      </div>
    </div>
    <div id = "contact"></div>

</main>
</body>
</html>
