<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bradley Baylis | Full Stack Developer</title>
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="Bradley Baylis | Full Stack Developer">
    <meta name="Description" content="Bradley Baylis's personal website and portfolio"/>
    <!-- Open Graph data -->
    <meta property="og:title" content="Bradley Baylis | Full Stack Developer" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://bradleybaylis.me" />
    <meta property="og:description" content="Bradley Baylis's personal website and portfolio" />
    <!-- Mobile header color for Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#ff4970">
    <!-- Mobile header color Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#ff4970">
    <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
</head>
<body>

  <nav class="navbar navbar-expand-sm bg-secondary w-100 position-fixed p-0">
    <a class="navbar-brand text-white py-0 px-2 d-flex align-items-center" href="#">
      <img class = "navbar-logo" src = "<%= require('./src/assets/logo.svg') %>">
    </a>
    <button class="navbar-toggler navbar__toggler m-2" type="button" data-toggle="collapse" data-target="#navbarDropdowns" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarDropdowns">
      <ul class="navbar-nav ml-auto mr-2">
        <li class="nav-item">
          <a class="nav-link text-white px-2 py-0" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white px-2 py-0" href="#about-target">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white px-2 py-0" href="#portfolio-target">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white px-2 py-0" href="#contact-target">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- HOME -->

  <section class="container-fluid text-center d-flex flex-column bg-primary mx-auto h-100 home" id = "home">
    <div class = "position-relative mx-auto avatar">
      <img
        src="<%= require('./src/assets/images/avatar-pic.jpg') %>"
        class="d-block position-relative h-100 mx-auto rounded-circle avatar__img"
      >
    </div>
    <h1 class = "text-white mx-auto my-0">
        <span class = "display-3">Bradley Baylis</span>
        <hr/>
        <span class = "display-4">Full Stack Developer</span>
    </h1>
    <a href = "#about-target">
      <img class = "mx-auto" src="<%= require('./src/assets/chevron.svg') %>">
    </a>
  </section>

  <main role="main" class="container-fluid px-0 text-center" id = "main">

    <!--  ABOUT -->
    <div class = "nav-link-target about" id = "about-target"></div>
    <section class="container-fluid py-3 text-left about" id = "about">
      <div class = "container" style = "max-width:630px">
        <h2 class = "text-center mb-3">About Me</h2>
        <p class = "px-2">Hi! My name is Brad and I'm primarily a front end
          developer based near London, though I have an interest in full stack
          development and want to move further in that direction.
        </p>
        <p class = "px-2">I use technologies and frameworks such as Bootstrap,
          Material-UI and React to deliver front end projects.  I've also got
          experience including Node.js and PostgreSQL to add additional
          functionality to my projects.
        </p>
        <h4 class = "h6">Things I like</h4>
        <ul class = "my-3">
          <li>
            Games, TV and film
            <span>🎮</span>
            <span>📺</span>
            <span>🎬</span>
          </li>
          <li>
            Reading, quizzing and otherwise learning
            <span>📚</span>
            <span>🎓</span>
          </li>
          <li>
            Physical pursuits like playing football, climbing, scenic strolls
            with my dog Jazz
            <span>🐶</span>
            or just a good stretching session!
            <span>⚽</span>
            <span>🧗‍</span>
            <span>🧘</span>
          </li>
        </ul>
        <a style = "background:#7b2d26" rel = "noopener noreferrer" class = "btn btn-block text-white" href = "<%= require('./src/assets/Bradley-Baylis-CV.pdf') %>" target = "_blank">My CV</a>
      </div>
    </section>

    <!--  PORTFOLIO -->
    <div class = "nav-link-target" id = "portfolio-target"></div>
    <section class = "py-3 container-fluid text-white px-0 bg-secondary" id = "portfolio">
      <h2>Portfolio</h2>
      <div class = "container">

      <!--  BRADLEYBAYLIS.ME -->

        <!--  THUMBNAIL DESKTOP -->

        <button type="button" data-toggle="modal" data-target="#bradModal" class = "p-0 mt-3 mb-5 mx-auto project-entry overflow-hidden position-relative" tabIndex = "0">
            <img class = "img-fluid project-entry__img" src= "<%= require('./src/assets/images/screenshot-bradleybaylis.png') %>">
            <div class = "project-entry__img-overlay d-flex flex-column justify-content-between position-absolute w-100 h-100">
              <h4 class = "text-white position-relative my-2 project-entry__title">Bradleybaylis.me</h4>
              <div class = "project-entry__logo-div h-25 d-flex justify-content-center align-items-center">
                <img class="project-entry__logo h-100 mx-3" src="<%= require('./src/assets/bootstrap-logo.svg') %>">
                <img class="project-entry__logo h-100 mx-3" src="<%= require('./src/assets/node-logo.svg') %>">
                <img class="project-entry__logo h-25 mx-3" src="<%= require('./src/assets/nginx-logo.svg') %>">
              </div>
              <p class = "text-white position-relative my-2 project-entry__bottom-text">Front End and Deployment</p>
            </div>
          </button>

          <!-- THUMBNAIL MOBILE -->

        <button type="button" data-toggle="modal" data-target="#bradModal" class = "mt-3 mb-3 mb-sm-5 project-entry--responsive p-0 card" tabIndex = "0">
          <div class = "card-header w-100">Bradleybaylis.me</div>
          <img class = "card-img-top mt-3 mx-auto project-entry__img--responsive" src= "<%= require('./src/assets/images/screenshot-bradleybaylis.png') %>">
          <div class = "card-body">
            <div class = "h-100 d-flex justify-content-around align-items-center justify-content-sm-center">
              <img class="project-entry__logo--responsive mx-2" src="<%= require('./src/assets/bootstrap-logo.svg') %>">
              <img class="project-entry__logo--responsive mx-2" src="<%= require('./src/assets/node-card-logo.svg') %>">
              <img class="project-entry__logo--responsive mx-2" src="<%= require('./src/assets/nginx-logo.svg') %>">
            </div>
          </div>
          <div class = "card-footer w-100 text-muted">Front End and Deployment</div>
        </button>

          <!--  MODAL -->

          <div class="text-dark modal fade" id="bradModal" tabindex="-1" role="dialog" aria-labelledby="bradModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="bradModalLabel">Bradleybaylis.me</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body text-left">
                  <video class = "pa-1 rounded modal-video" width="100%" height="auto" autoplay = "autoplay" loop muted>
                    <source src="<%= require('./src/assets/videos/video-bradleybaylis-demo.mp4') %>" type="video/mp4">
                    <source src="<%= require('./src/assets/videos/video-bradleybaylis-demo.mp4') %>" type="video/webm">
                    Your browser does not support the video tag.
                  </video>
                  <p>Bradleybaylis.me is my personal site hosted on a Digital Ocean VPS running Ubuntu and Node.js.  The main page utilises Bootstrap 4.
                    <ul>
                      <li>Fully Responsive Design</li>
                      <li>Hosts my other projects on the same domain</li>
                      <li>Uses Nodemailer to enable you to send me emails for the page</li>
                      <li>Provides and Node/Express API to give my tic-tac-toe project more functionality and enables the aforementioned contact form</li>
                    </ul>
                  </p>
                </div>
                <div class="modal-footer brad-modal-grid">
                  <button type="button" class="btn btn-secondary brad-modal-grid-item" data-dismiss="modal">Close</button>
                  <a href = "https://github.com/BLBaylis/my-page" role="button" class="btn btn-secondary brad-modal-grid-item">View Front End Repo</a>
                  <a href = "https://github.com/BLBaylis/bradnet" role="button" class="btn btn-secondary brad-modal-grid-item">View API Repo</a>
                  <a href = "#" class="btn btn-primary brad-modal-grid-item">Live Demo</a>
                </div>
              </div>
            </div>
          </div>

      <!--  TICTACTOE -->

        <!--  THUMBNAIL DESKTOP -->

        <button type="button" data-toggle="modal" data-target="#tictactoeModal" class = "p-0 my-5 mx-auto project-entry overflow-hidden position-relative" tabIndex = "0">
          <img class = "img-fluid project-entry__img" src= "<%= require('./src/assets/images/screenshot-tictactoe.png') %>">
          <div class = "project-entry__img-overlay d-flex flex-column justify-content-between position-absolute w-100 h-100">
            <h4 class = "text-white position-relative my-2 project-entry__title">Unbeatable Tic-tac-toe</h4>
            <div class = "project-entry__logo-div h-25 d-flex justify-content-center align-items-center">
              <img class="project-entry__logo h-100 mx-3" src="<%= require('./src/assets/javascript-logo.svg') %>">
              <img class="project-entry__logo h-100 mx-3" src="<%= require('./src/assets/react-logo.svg') %>">
              <img class="project-entry__logo h-100 mx-3" src="<%= require('./src/assets/redux-logo.svg') %>">
            </div>
            <p class = "text-white position-relative my-2 project-entry__bottom-text">Front End</p>
          </div>
        </button>

        <!-- THUMBNAIL MOBILE -->

        <button type="button" data-toggle="modal" data-target="#tictactoeModal" class = "my-4 my-sm-5 project-entry--responsive p-0 card" tabIndex = "0">
          <div class = "card-header w-100">Unbeatable Tic-tac-toe</div>
          <img class = "card-img-top mt-3 mx-auto project-entry__img--responsive" src= "<%= require('./src/assets/images/screenshot-tictactoe.png') %>">
          <div class = "card-body">
            <div class = "h-100 d-flex justify-content-around align-items-center justify-content-sm-center">
              <img class="project-entry__logo--responsive mx-2" src="<%= require('./src/assets/javascript-logo.svg') %>">
              <img class="project-entry__logo--responsive mx-2" src="<%= require('./src/assets/react-logo.svg') %>">
              <img class="project-entry__logo--responsive mx-2" src="<%= require('./src/assets/redux-logo.svg') %>">
            </div>
          </div>
          <div class = "card-footer w-100 text-muted">Front End</div>
        </button>

        <!--  MODAL -->

        <div class="text-dark modal fade" id="tictactoeModal" tabindex="-1" role="dialog" aria-labelledby="tictactoeModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="tictactoeModalLabel">Unbeatable Tictactoe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body text-left">
                <video class = "pa-1 rounded modal-video" width="100%" height="auto" autoplay = "autoplay" loop muted>
                  <source src="<%= require('./src/assets/videos/video-tictactoe-demo.mp4') %>" type="video/mp4">
                  <source src="<%= require('./src/assets/videos/video-tictactoe-demo.mp4') %>" type="video/webm">
                  Your browser does not support the video tag.
                </video>
                <p>A tictactoe game made with React and Material-UI, it boasts the following features:
                  <ul>
                    <li>Fully Responsive Design</li>
                    <li>Option to play on 3 x 3, 5 x 5 or 7 x 7 grids</li>
                    <li>Play against an unbeatable computer or play against a friend locally</li>
                    <li>Variety of icons with customisable colours</li>
                  </ul>
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary  modal-btnh-100" data-dismiss="modal">Close</button>
                <a href = "https://github.com/BLBaylis/tic-tac-toe" role="button" class="btn btn-secondary modal-btn">View Repo</a>
                <a href = "/tictactoe" type="button" class="btn btn-primary modal-btn">Live Demo</a>
              </div>
            </div>
          </div>
        </div>

      <!-- FACEBRAIN -->

        <!-- THUMBNAIL DESKTOP -->

        <button type="button" data-toggle="modal" data-target="#facebrainModal" class = "my-4 p-0 mx-auto project-entry overflow-hidden position-relative" tabIndex = "0">
          <img class = "img-fluid project-entry__img" src= "<%= require('./src/assets/images/screenshot-facebrain.png') %>">
          <div class = "project-entry__img-overlay d-flex flex-column justify-content-between position-absolute w-100 h-100">
            <h4 class = "text-white position-relative my-2 project-entry__title">FaceBrain</h4>
            <div class = "project-entry__logo-div h-25 d-flex justify-content-center align-items-center">
              <img class="project-entry__logo h-100 mx-3" src="<%= require('./src/assets/react-logo.svg') %>">
              <img class="project-entry__logo h-100 mx-3" src="<%= require('./src/assets/node-logo.svg') %>">
              <img class="project-entry__logo h-100 mx-3" src="<%= require('./src/assets/postgres-logo.svg') %>">
            </div>
            <p class = "text-white position-relative my-2 project-entry__bottom-text">Full Stack</p>
          </div>
        </button>

        <!-- THUMBNAIL MOBILE -->

        <button type="button" data-toggle="modal" data-target="#facebrainModal" class = "my-4 my-sm-5 project-entry--responsive p-0 card" tabIndex = "0">
          <div class = "card-header w-100">FaceBrain</div>
          <img class = "card-img-top mt-3 mx-auto project-entry__img--responsive" src= "<%= require('./src/assets/images/screenshot-facebrain.png') %>">
          <div class = "card-body">
            <div class = "h-100 d-flex justify-content-around align-items-center justify-content-sm-center">
              <img class="project-entry__logo--responsive mx-2" src="<%= require('./src/assets/react-logo.svg') %>">
              <img class="project-entry__logo--responsive mx-2" src="<%= require('./src/assets/node-card-logo.svg') %>">
              <img class="project-entry__logo--responsive mx-2" src="<%= require('./src/assets/postgres-logo.svg') %>">
            </div>
          </div>
          <div class = "card-footer w-100 text-muted">Full Stack</div>
        </button>


        <!-- MODAL -->

        <div class="text-dark modal fade" id="facebrainModal" tabindex="-1" role="dialog" aria-labelledby="facebrainModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="facebrainModalLabel">FaceBrain</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body text-left">
                <video class = "pa-1 rounded modal-video" width="100%" height="auto" autoplay = "autoplay" loop muted>
                  <source src="<%= require('./src/assets/videos/video-facebrain-demo.mp4') %>" type="video/mp4">
                  <source src="<%= require('./src/assets/videos/video-facebrain-demo.mp4') %>" type="video/webm">
                  Your browser does not support the video tag.
                </video>
                <p>This tool uses Clarifai's face recognition API to find faces in submitted URLS.  Features include:
                  <ul>
                    <li>Fully Responsive Design</li>
                    <li>A PostgreSQL database to store login details and usage statistics</li>
                    <li>A Node/Express API for retreiving user profiles from the database and accessing Clarifai's API</li>
                    <li>Password hashing and authentication with Bcrypt.js</li>
                  </ul>
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary  modal-btnh-100" data-dismiss="modal">Close</button>
                <a href = "https://github.com/BLBaylis/facebrain" role="button" class="btn btn-secondary modal-btn">View Repo</a>
                <a href = "/facebrain" type="button" class="btn btn-primary modal-btn">Live Demo</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!--  CONTACT -->
    <div class = "nav-link-target" id = "contact-target"></div>
    <section class = "container-fluid py-3 contact bg-primary" id = "contact">
      <div class = "container">
        <h2 class = "text-white">Get in touch</h2>
        <a class = "btn social-media-link m-3" href = "https://github.com/BLBaylis">
          <img class="social-media-logo" src="<%= require('./src/assets/linkedin-logo.svg') %>">
        </a>
        <a class = "btn social-media-link m-3" href = "https://www.linkedin.com/in/bradley-baylis/">
          <img class="social-media-logo" src="<%= require('./src/assets/github-logo.svg') %>">
        </a>
        <h4 class = "text-white">...or you can send me an email below!</h4>
        <div class="alert mx-auto position-relative mt-3" role="alert">
          <strong class = "email-status">Email sent!</strong>
          <span class = "alert-text">Thanks for getting in touch.</span>
        </div>
        <form class = "mx-auto mb-3 p-4 bg-white contact-form">
          <div class = "row">
            <div class="form-group col-sm-6">
              <label for="name">Name:</label>
              <input required type="name" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="form-group col-sm-6">
              <label for="email">Email address:</label>
              <input required type="email" class="form-control" id="email" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label for="message">Message:</label>
            <textarea required class="form-control" id="message" rows="3"></textarea>
          </div>
          <button
            type="submit"
            class="btn btn-primary d-inline-flex align-items-center"
            id="form-submit-btn"
          >
            <span>Submit</span>
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
          </button>
        </form>
      </div>
    </section>
  </main>
  <footer class = "position-relative text-white px-4 d-flex justify-content-center align-items-center">Website created by © Bradley Baylis 2019</footer>
</body>
</html>
