$primary: rgb(23, 26, 44);
$primary-alpha: rgba(23, 26, 44, 0.8);
$secondary: rgb(2, 12, 27);
$secondary-alpha: rgba(2, 12, 27, 0.95);
$accent: #bc2ad3;
$accent-alpha: rgba(188, 42, 211, 0.8);
$navbar-height: 56px;
$alert-size-xs: 74px;
$alert-size-sm: 50px;
$video-play-time: 5000ms;

@import "~bootstrap/scss/bootstrap";
@import "./contact";

html,
body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Calibre
}

h2 {
    font-weight: 500
}

section {
    //padding-top: 8rem;
    //padding-bottom: 8rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

@font-face {
    font-family: 'calibre';
    font-style: normal;
    font-weight: normal;
    src: local('Calibre Regular'), url('../assets/fonts/calibre/CalibreRegular.woff') format('woff');
}

.bg-primary-alpha {
    background: $primary-alpha
}

.bg-accent {
    background: $accent
}

.bg-accent-alpha {
    background: $accent-alpha
}

.bg-secondary-alpha {
    background: $secondary-alpha
}

/*------------------*/
/*     NAVBAR       */
/*------------------*/

.navbar {
    top: 0;
    z-index: 3;
    border-bottom: solid 1px rgb(21, 21, 42)
}

.navbar-brand {
    height: $navbar-height;
}

.navbar-brand:hover {
    background: $accent;
}

.navbar-logo {
    height: 40px;
    width: auto;
}

.navbar-toggler {
    border-color: #fff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item {
    height: $navbar-height;
    line-height: $navbar-height;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: $accent;
}

.navbar-toggler:hover {
    border-color: $accent;
}

.navbar-toggler:hover .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%235bffdb' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link-target {
    position: relative;
    top: -#{$navbar-height};
}

/*------------------*/
/*     BG-VIDEO     */
/*------------------*/

.bg-video {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow-x: hidden
}

.bg-video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -100;
    background: rgba(17, 18, 33, 1);
}

.bg-video-wrapper-inner {
    position: absolute;
    height: 100%;
}

.bg-video-wrapper-inner::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: right 100ms linear;
}

.video {
    height: 100%;
}

/*------------------*/
/*      HOME        */
/*------------------*/

.home {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden
}

.side-bar {
    min-height: 424px;
    height: calc(100% - 56px);
    width: 100%;
    position: absolute;
    right: 0;
    background: rgba(21, 21, 42, 0.9);
    bottom: 0;
    justify-content: center;
    padding: 0 50px;
    transition: right 400ms ease $video-play-time + 400;
}

.side-bar--initial {
    right: -100%;
}

@media (min-aspect-ratio: 850/500) {
    .side-bar {
        min-width: 300px;
        width: 39%;
    }

    .side-bar--initial {
        right: -39%;
    }

    .bg-video-wrapper-inner::before {
        background: rgb(255, 255, 255);
        background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 90%,
            rgba(17, 18, 33, 1) 100%
        );
    }
}

.heading {
    display: inline-block;
    font-size: 50px;
    line-height: 1.1;
    font-weight: 600;
    max-width: 145px
}

.line-break {
    display: none
}

.subheading {
    @extend .heading;
    color: rgb(136, 146, 176);
    max-width: initial;
}

.scroll-link.chevron {
    position: absolute;
    bottom: 10%;
}

@media (min-width: 497px) {
    .heading {
        max-width: initial
    }

    .line-break {
        display: initial;
    }
}

.scroll-link {
    cursor: pointer;
}

.scroll-link img {
    pointer-events: none;
}

/*------------------*/
/*      ABOUT       */
/*------------------*/

.about-content {
    max-width: 690px
}

/*------------------*/
/*    PORTFOLIO     */
/*------------------*/

.project-entry__img--responsive {
    width: 90%;
    border: 7px solid rgba(0, 0, 0, 0.125);
}

.project-entry__logo--responsive {
    width: 20%;
}

.card-body {
    width: 90%;
    padding: 1.25rem 0;
    margin: 0 auto;
}

.logo-container {
    justify-content: center;
}

.project-entry,
.project-entry--responsive {
    flex: 1 1 auto;
    margin: 2rem auto;
    width: 95%;
    max-width: 650px;
}

.project-entry {
    display: none;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 576px) {

    .project-entry__logo--responsive {
        height: 50px;
        max-width: 65px;
    }

    .project-entry,
    .project-entry--responsive {
        width: 70%;
        margin: 2rem auto
    }
}

@media (min-width: 992px) {
    .project-entry,
    .project-entry--responsive {
        margin: 0 20px;
    }

    .workind {
        margin-left: 40px;
    }

    .facebrain {
        margin-right: 40px;
    }
}

.project-entry:hover,
.project-entry:focus {
    border: solid 2px $accent;
}

.project-entry__img-overlay {
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
}

.project-entry__title {
    transition: top 0.5s ease-in-out;
    top: -15%;
}

.project-entry__bottom-text {
    transition: bottom 0.5s ease-in-out;
    bottom: -15%;
}

.project-entry:hover .project-entry__img {
    transform: scale(1.2) rotate(5deg);
    transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
}

.project-entry:hover .project-entry__img-overlay {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.project-entry:hover .project-entry__title {
    top: 0;
}

.project-entry:hover .project-entry__bottom-text {
    bottom: 0;
}

.modal-video {
    border: 1px solid #ddd;
}

.brad-modal-grid {
    align-items: stretch;
}

/*------------------*/
/*     CONTACT      */
/*------------------*/

.social-media-logo {
    height : 60px;
    display: block;
    margin : 0.5rem auto;
}

.social-media-link {
    display: inline-block;
    width: 250px;
    padding: 13px;
    border-radius:4px;
    border: solid 2px $accent;
    cursor: pointer;
    background: $secondary;
    margin: auto;
}

.social-media-link:hover {
    background: $accent;
    transition: 250ms;
}

.animation-running {
    width: 16px;
    margin-left: 0.5rem;
    opacity: 1;
    animation-play-state: running;
}

footer {
    background: $secondary;
    z-index: 2;
}

@media (max-width: 542px) {
    .modal-btn {
        font-size: 14.75px;
    }

    .brad-modal-grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-gap: 0.25rem;
        justify-content: center;
    }

    .brad-modal-grid-item {
        width: 100%;
        height: 100%;
        margin: 0 !important;
    }
}

@media (min-width: 562px) {
    .social-media-link {
        margin: 0 1rem
    }
}

@media (min-height: 750px) {
    .display-3 {
        font-size: 4.5rem;
    }

    .display-4 {
        font-size: 3.5rem;
    }

    hr {
        border-width: 2px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media (hover: hover) {
    .project-entry {
        display: block;
    }

    .project-entry--responsive {
        display: none;
    }
}
