$primary: #7b2d26;
$secondary: #bc2ad3; // #383838;
$navbar-height: 56px;
$alert-size-xs: 74px;
$alert-size-sm: 50px;

@import "~bootstrap/scss/bootstrap";
@import "./keyframes";

html,
body {
    height: 100%;
}

/* NAVBAR */

.navbar {
    z-index: 3;
}

.navbar-brand {
    height: $navbar-height;
}

.navbar-logo {
    height: 40px;
    width: auto;
}

.navbar-toggler {
    border-color: #fff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item {
    height: $navbar-height;
    line-height: $navbar-height;
}

.nav-link:hover,
.navbar-toggler:hover,
.navbar-brand:hover {
    background: #474646;
}

.nav-link-target {
    position: relative;
    top: -#{$navbar-height};
}

/* HOME */
.home {
    position: relative;
    height: 100%;
}

.home-video-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    z-index: -100;
    background: rgba(17, 18, 33, 1);
}

.home-video-wrapper-inner {
    position: absolute;
    height: 100%;
}

.home-video-wrapper-inner::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 50%,
        rgba(17, 18, 33, 1) 90%
    );
    transition: width 100ms linear;
}

.home-video {
    height: 100%;
}

@media (min-aspect-ratio: 880/500) {
    .side-bit {
        width: 100%;
    }
}

/*.home {
    min-height: 424px;
    padding-top: $navbar-height;
    justify-content: space-evenly;
}*/

.avatar {
    height: 66vw;
    width: 66vw;
    max-height: 300px;
    max-width: 300px;
}

.avatar::before {
    animation: pulse 2s linear infinite;
    border: #fff solid 8px;
    border-radius: 9999px;
    box-sizing: border-box;
    content: " ";
    height: 120%;
    left: -10%;
    opacity: 0.6;
    position: absolute;
    top: -10%;
    transform: scale(0.714);
    width: 120%;
    z-index: 1;
}

.avatar__img {
    z-index: 2;
}

@keyframes pulse {
    to {
        opacity: 0;
        transform: scale(1);
    }
}

.display-3 {
    font-size: 2.5rem;
}

hr {
    border-color: #fff;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.display-4 {
    font-size: 2rem;
    vertical-align: text-top;
}

.scroll-link img {
    pointer-events: none;
}

/* ABOUT */

.about {
    color: #383838;
    background: #f7f9fb;
}

/* PORTFOLIO */

.project-entry__img--responsive {
    max-width: 400px;
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.project-entry__logo--responsive {
    width: 20%;
}

.project-entry {
    display: none;
    width: 100%;
    max-width: 600px;
}

.project-entry:hover,
.project-entry:focus {
    border: solid 2px #ffc107;
}

.project-entry__img-overlay {
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
}

.project-entry__title {
    transition: top 0.5s ease-in-out;
    top: -15%;
}

.project-entry__bottom-text {
    transition: bottom 0.5s ease-in-out;
    bottom: -15%;
}

.project-entry:hover .project-entry__img {
    transform: scale(1.2) rotate(5deg);
    transition: all 2s cubic-bezier(0.23, 1, 0.32, 1);
}

.project-entry:hover .project-entry__img-overlay {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.project-entry:hover .project-entry__title {
    top: 0;
}

.project-entry:hover .project-entry__bottom-text {
    bottom: 0;
}

.modal-video {
    border: 1px solid #ddd;
}

.brad-modal-grid {
    align-items: stretch;
}

/* CONTACT */

.social-media-link {
    width: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 10px;
    background: #383838;
}

.social-media-link:hover {
    background: #383838;
}

.alert {
    top: 0;
    transition: top 0.25s linear;
    max-width: 600px;
}

.alert-change {
    top: calc(#{$alert-size-sm} + 2rem);
}

.alert-active {
    display: block;
}

.contact-form {
    position: relative;
    top: calc(-#{$alert-size-xs} - 1rem);
    border: solid #f7f7f9 3.2px;
    max-width: 600px;
}

.inital-animation {
    animation: slingshot-xs 0.5s;
}

.initial-animation-footer {
    animation: slingshot-xs-footer 0.5s;
}

.initial-animation-done {
    top: 0px;
}

.form-control {
    border-width: 1.5px;
}

.lds-ring {
    display: inline-block;
    position: relative;
    opacity: 0;
    height: 16px;
    width: 0;
    margin-left: 0;
    transition: 0.5s linear;
    transition-property: width, margin-left, opacity;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    border-color: #fff transparent transparent transparent;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

.animation-running {
    width: 16px;
    margin-left: 0.5rem;
    opacity: 1;
    animation-play-state: running;
}

footer {
    top: calc(-#{$alert-size-xs} - 1rem);
    height: calc(#{$alert-size-xs} + 1rem);
    background: #383838;
}

@media (max-width: 542px) {
    .modal-btn {
        font-size: 14.75px;
    }

    .brad-modal-grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-gap: 0.25rem;
        justify-content: center;
    }

    .brad-modal-grid-item {
        width: 100%;
        height: 100%;
        margin: 0 !important;
    }
}

@media (min-width: 370px) {
    .contact-form {
        top: calc(-#{$alert-size-sm} - 1rem);
    }

    footer {
        top: calc(-#{$alert-size-sm} - 1rem);
        height: calc(#{$alert-size-sm} + 1rem);
    }

    .initial-animation {
        animation: slingshot-sm 0.5s;
    }

    .initial-animation-done {
        top: 0px;
    }

    .initial-animation-footer {
        animation: slingshot-sm-footer 0.5s;
    }
}

@media (min-width: 576px) {
    .project-entry__logo--responsive {
        width: 10%;
    }
}

@media (min-height: 750px) {
    .display-3 {
        font-size: 4.5rem;
    }

    .display-4 {
        font-size: 3.5rem;
    }

    hr {
        border-width: 2px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media (hover: hover) {
    .project-entry {
        display: block;
    }

    .project-entry--responsive {
        display: none;
    }

    .social-media-link {
        background: transparent;
    }
}
