$primary: rgb(23, 26, 44);
$primary-alpha: rgba(23, 26, 44, 0.8);
$secondary: rgb(2, 12, 27);
$secondary-alpha: rgba(2, 12, 27, 0.95);
$accent: #bc2ad3;
$accent-alpha: rgba(188, 42, 211, 0.8);
$navbar-height: 56px;
$alert-size-xs: 74px;
$alert-size-sm: 50px;
$video-play-time: 5000ms;

@import "~bootstrap/scss/bootstrap";
@import "./contact";

html,
body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Calibre
}

h2 {
    font-weight: 500
}

section {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

@font-face {
    font-family: 'calibre';
    font-style: normal;
    font-weight: normal;
    src: local('Calibre Regular'), url('../assets/fonts/calibre/CalibreRegular.woff') format('woff');
}

.bg-primary-alpha {
    background: $primary-alpha
}

.bg-accent {
    background: $accent
}

.bg-accent-alpha {
    background: $accent-alpha
}

.bg-secondary-alpha {
    background: $secondary-alpha
}

/*------------------*/
/*     NAVBAR       */
/*------------------*/

.navbar {
    top: 0;
    z-index: 3;
    border-bottom: solid 1px rgb(21, 21, 42)
}

.navbar-brand {
    height: $navbar-height;
}

.navbar-brand:hover {
    background: $accent;
}

.navbar-logo {
    height: 40px;
    width: auto;
}

.navbar-toggler {
    border-color: #fff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item {
    height: $navbar-height;
    line-height: $navbar-height;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: $accent;
}

.navbar-toggler:hover {
    border-color: $accent;
}

.navbar-toggler:hover .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%235bffdb' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link-target {
    position: relative;
    top: -#{$navbar-height};
}

.custom-btn-link {
    display: inline-block;
    padding: 13px;
    border-radius: 4px;
    border: solid 2px #bc2ad3;
    cursor: pointer;
    background: #020c1b;
}

.custom-btn-link:hover {
    text-decoration: none;
    transition: 250ms;
}

.btn-text {
    vertical-align: middle;
}

/*------------------*/
/*     BG-VIDEO     */
/*------------------*/

.bg-video {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow-x: hidden
}

.bg-video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -100;
    background: rgba(17, 18, 33, 1);
}

.bg-video-wrapper-inner {
    position: absolute;
    height: 100%;
}

.bg-video-wrapper-inner::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: right 100ms linear;
}

.video {
    height: 100%;
}

/*------------------*/
/*      HOME        */
/*------------------*/

.home {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden
}

.side-bar {
    min-height: 424px;
    height: calc(100% - 56px);
    width: 100%;
    position: absolute;
    right: 0;
    background: rgba(21, 21, 42, 0.9);
    bottom: 0;
    justify-content: center;
    padding: 0 50px;
    transition: right 400ms ease $video-play-time + 400;
}

.side-bar--initial {
    right: -100%;
}

@media (min-aspect-ratio: 850/500) {
    .side-bar {
        min-width: 300px;
        width: 39%;
    }

    .side-bar--initial {
        right: -39%;
    }

    .bg-video-wrapper-inner::before {
        background: rgb(255, 255, 255);
        background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 90%,
            rgba(17, 18, 33, 1) 100%
        );
    }
}

.heading {
    display: inline-block;
    font-size: 50px;
    line-height: 1.1;
    font-weight: 600;
    max-width: 145px
}

.line-break {
    display: none
}

.subheading {
    @extend .heading;
    color: rgb(136, 146, 176);
    max-width: initial;
}

.scroll-link.chevron {
    position: absolute;
    bottom: 10%;
}

@media (min-width: 497px) {
    .heading {
        max-width: initial
    }

    .line-break {
        display: initial;
    }
}

.scroll-link {
    cursor: pointer;
}

.scroll-link img {
    pointer-events: none;
}

/*------------------*/
/*      ABOUT       */
/*------------------*/

.about-content {
    max-width: 690px
}

/*------------------*/
/*    PORTFOLIO     */
/*------------------*/

.project {
    margin-bottom: 1.5rem;
}

.project__text {
    margin-bottom: 1.5rem;
}

.project__logo-div {
    width: 100%;
    margin-bottom: 1.5rem;
}

.project__btn-link {
    @extend .custom-btn-link;
    margin-bottom: 1.5rem;
    width: 100%;
}

.project__btn-link--bottom {
    @extend .project__btn-link;
    margin-bottom: 0;
}

.project__btn-link--half-size {
    @extend .project__btn-link;
}

.project__logo {
    width: 75px;
    max-height: 50px;
    margin: 0 1rem;
}

.project__logo--right {
    @extend .project__logo;
    margin-right: 0;
}

.project__logo--left {
    @extend .project__logo;
    margin-left: 0;
}

.button-icon {
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    margin-right: 5px
}

@media (min-width: 960px){

    .project {
        max-width: 915px;
        margin: 0 auto;
        margin-top: 1rem;
    }

    .project__body {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .project__video {
        width: 45%;
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
        object-fit:contain
    }

    .project__text {
        width: 45%;
    }

    .project__logo-div {
        width: 50%;
        margin-right: 1.5rem;
        margin-bottom: 0;
    }

    .project__btn-link {
        width: 100%;
        margin-bottom: 0;
    }

    .project__btn-link--half-size {
        width: 46.5%;
    }

    .project__btn-link:hover {
        background: $accent;
    }

    .project__item {
        width: 48.5%
    }

}

/*------------------*/
/*     CONTACT      */
/*------------------*/

.social-media-logo {
    height : 60px;
    display: block;
    margin : 0.5rem auto;
}

.social-media-link {
    display: inline-block;
    width: 250px;
    padding: 13px;
    border-radius:4px;
    border: solid 2px $accent;
    cursor: pointer;
    background: $secondary;
    margin: auto;
}

.social-media-link:hover {
    background: $accent;
    transition: 250ms;
}

.animation-running {
    width: 16px;
    margin-left: 0.5rem;
    opacity: 1;
    animation-play-state: running;
}

footer {
    background: $secondary;
    z-index: 2;
}

@media (min-width: 562px) {
    .social-media-link {
        margin: 0 1rem
    }
}
