@keyframes slingshot-xs {
    0% {
        top: calc(-#{$alert-size-xs} - 1rem);
    }
    25% {
        top: calc(-#{$alert-size-xs} - 5px - 1rem);
    }
    100% {
        top: 0px;
    }
}

@keyframes slingshot-xs-footer {
    25% {
        top: calc(-#{$alert-size-xs} - 1rem);
    }
    100% {
        top: 0px;
    }
}

@keyframes slingshot-sm {
    0% {
        top: calc(-#{$alert-size-sm} - 1rem);
    }
    25% {
        top: calc(-#{$alert-size-sm} - 5px - 1rem);
    }
    100% {
        top: 0px;
    }
}

@keyframes slingshot-sm-footer {
    25% {
        top: calc(-#{$alert-size-sm} - 1rem);
    }
    100% {
        top: 0px;
    }
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
